/* Global */
* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100vh;
}

body {
  min-width: 20rem;
  max-width: 80rem;
  margin: 0 auto;
  font-family: Calibri, sans-serif;
  background: #0F0F0F;
}

/* Start Section  =========================================================  */
#start {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20rem;
  text-align: center;
  color: red;
}

.center {
  background: center / contain no-repeat url('./media/silhouette-bottom-dark-blue-theatre_320x320.jpg');
  min-width: 20rem;
  max-width: 20rem;
  min-height: 20rem;
  max-width: 20rem;
}

.props {
  width: 33%;
}

.props > img {
  width: 75%;
  max-height: 20rem;
}

h1 {
  font-size: 5rem;
  line-height: 5.5rem;
  color: #FFF;
}

form {
  padding-top: 3.25rem;
  text-align: center;
}

label {
  font-size: 2rem;
  font-weight: 700;
}

select {
  cursor: pointer;
  font-family: Calibri, sans-serif;
  padding: 0.375rem;
  font-size: 1.375rem;
}

/* Main Section  ==========================================================  */
main {
  /* min-height: 30rem; */
  background-color: #03BFFE;
}

#choose {
  padding: 1rem;
}

#movie-btn {
  cursor: pointer;
  background: linear-gradient(135deg, rgb(255,0,0) 0%, rgb(127,0,0) 100%);
  border-radius: 5px;
  border: none;
  color: #FFFFFF;
  text-shadow: 1px 1px 1px #000;
  font-size: 1.25rem;
  padding: 0.5rem 0.75rem;
  display: block;
  margin: 0 auto;                                                              /* PLACEMENT ? */
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
  inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

#movie-btn:hover {
  background: rgb(230,0,0);
}

#movie-btn:active {
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.6),
              inset -2px -2px 3px rgba(255, 255, 255, 0.6);
  text-shadow: 1px 1px 1px rgb(119, 119, 119);
}

#display {
  display: flex;
  justify-content: flex-start;
  overflow: scroll;
  min-height: 407px;
}

.movieOption {
  width: 750px;
  display: flex;
}

.poster {
  width: 250px;
}

.info {
  width: 500px;
  padding: 2rem;
}

.info span {
  font-weight: 600;
}

/* Footer */
footer {
  background: #12293D;
  height: 10rem;
  background: #12293D no-repeat url('./media/TMDbLogo.png');;
}